# Ignore tất cả mọi thứ
*

# Nhưng cho phép các file .java
!*.java

# Cho phép folder nếu chứa .java
!*/

# Ngoại lệ giữ lại thư mục src hoặc project
!/src/
!/Practice_1/
!/Practice_2/
!/Practice_3/

# Loại bỏ hệ thống build / IDE / macOS
.idea/
out/
.DS_Store
*.iml
